// Variables

$rich-black: #010b13;
$white: #fff;
$red: #ff0000;
$light-green: rgb(81, 211, 16);
$dark-green: #28c28e;

// Styles

html {
  box-sizing: border-box;
  body {
    color: rgb(243, 239, 239);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4% 0;
    background: $dark-green;
    h1 {
      font-family: 'Mali', cursive;
      font-size: 4vw;
    }
    h2, p {
      font-family: 'Nunito', sans-serif;
    }
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timing {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
  // Deck of cards
  .cards {
    background: rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 6px 4px $white;
    -moz-box-shadow: 0px 0px 6px 4px $white;
    box-shadow: 0px 0px 6px 4px $white;
    padding: 2%;
    list-style: none;
    // height: 25rem;
    width: 50%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    // Individual cards
    .card {
      cursor: pointer;
      margin: 1.2%;
      img {
        max-height: 200px;
        -webkit-box-shadow: 0px 0px 1px 1px $white;
        -moz-box-shadow: 0px 0px 1px 1px $white;
        box-shadow: 0px 0px 4px 1px $white;
      }
    }
    .card.flipped {
      cursor: default;
      visibility: visible;
      backface-visibility: visible;
      animation-duration: 1s;
      transform: rotateY(0);
      // Animations
      animation-name: flipCardY;
    }
    .card.matched {
      visibility: visible;
      backface-visibility: visible;
      animation-duration: 1s;
      cursor: default;
      outline: $light-green;
      background: #E5F720;
      // Animations
      animation-name: correct;
    }
    .card.unmatched {
      visibility: visible;
      backface-visibility: visible;
      animation-duration: 1s;
      outline: $red;
      background: red;
      // Animations
      animation-name: incorrect;
    }
    // For cards that are visible/already matched
    .card.disabled {
      pointer-events: none;
      opacity: 0.9;
    }
  }
}

// Animations

@keyframes flipCardY {
  from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes correct {
  from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes incorrect {
  from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}