// Variables

$black: #000;
$white: #fff;
$green: #98e267;

// Styles

html {
  box-sizing: border-box;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $green;
    h1 {
      font-family: 'Mali', cursive;
      font-size: 4vw;
    }
    h2, p {
      font-family: 'Nunito', sans-serif;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // Deck of cards
  .cards {
    background: $black;
    padding: 2%;
    width: 70%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    // Individual cards
    .card {
      margin: 1.2%;
      img {
        max-height: 20vw;
      }
    }
    .card.visible {
      transform: rotateY(0);
      background: $white;
      animation-name: flipCardY;
      animation-duration: 1s;
      visibility: visible;
      backface-visibility: visible;
    }
    .card.match {
      // ADD CODE
    }
    .card.unmatched {

    }
    .card.matched {

    }
  }
}

// Animations

@keyframes flipCardY {

}