// Variables

$rich-black: #010b13;
$white: #fff;
$red: #ff0000;
$light-green: rgb(81, 211, 16);
$dark-green: #28c28e;

// Styles

html {
  box-sizing: border-box;
  body {
    color: rgb(243, 239, 239);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4% 0;
    background: $dark-green;
    h1 {
      font-family: 'Mali', cursive;
      font-size: 4vw;
    }
    h2, p {
      font-family: 'Nunito', sans-serif;
    }
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // Deck of cards
  .cards {
    background: rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 6px 4px $white;
    -moz-box-shadow: 0px 0px 6px 4px $white;
    box-shadow: 0px 0px 6px 4px $white;
    padding: 2%;
    list-style: none;
    // height: 25rem;
    width: 50%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    // Individual cards
    .card {
      margin: 1.2%;
      img {
        max-height: 200px;
        -webkit-box-shadow: 0px 0px 1px 1px $white;
        -moz-box-shadow: 0px 0px 1px 1px $white;
        box-shadow: 0px 0px 4px 1px $white;
      }
    }
    .card.flipped, .card.matched, .card.unmatched {
      visibility: visible;
      backface-visibility: visible;
      animation-duration: 1s;
    }
    .card.flipped {
      transform: rotateY(0);
      background: $white;
      // Animations
      animation-name: flipCardY;
    }
    .card.matched {
      cursor: default;
      outline: $light-green;
      // Animations
      animation-name: matched;
    }
    .card.unmatched {
      outline: $red;
      // Animations
      animation-name: unmatched;
    }
    // For cards that are visible/already matched
    .card.disabled {
      cursor: none;
      opacity: 0.8;
    }
  }
}

// Animations

@keyframes flipCardY {

}

@keyframes matched {

}

@keyframes unmatched {

}